@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;600;&display=swap");

body {
	font-family: "Inter", sans-serif;
	background-color: #fafafa;
	font-weight: 500;
}

h2 {
	font-weight: 800;
	font-size: 35px;
	font-family: "Inter", sans-serif;
	text-align: center;
}

#title {
	background-image: linear-gradient(to bottom right, #818cf8, #22d3ee);
	/* background-clip: text; */
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-color: #818cf8;
	color: transparent;
}

.main {
	max-width: 500px;
	margin: auto;
}

.box {
	background-color: #ffffff;
	padding: 30px;
	box-shadow: 0px 0px 5px 1px #ececec;
	border-radius: 5px;
}

fieldset {
	border: none;
}

input {
	display: block;
	width: 100%;
	height: 35px;
	border: solid #d4d4d8;
	border-width: 0.1px;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 25px;
}

.gap {
	height: 20px
}

#password {
	margin-bottom: 0;
}

#remember_me {
	width: 20px;
	display: inline-block;
	position: relative;
	top: 10px;
}

.checkbox_forgotpass {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.forgot_pass  a{
	text-decoration: none;
}

.buttons {
	background-color: #5046e4;
	color: white;
	height: 40px;
	width: 100%;
	border: none;
	border-radius: 5px;
	margin-top: 5px;
}

.buttons svg{
	height: 20px;
	float: left;
	padding-left: 8px;
	opacity: 0.3;
}

.buttons span {
	position: relative;
	right: 15px;
	font-size: 16px;
}

.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: 0.5;
	&:before {
	  content: '';
	  background: #818078;
	  position: absolute;
	  left: 0;
	  top: 50%;
	  width: 100%;
	  height: 1px;
	}
	&:after {
	  content: attr(data-content);
	  position: relative;
	  display: inline-block;
	  color: black;
  
	  padding: 0 0.5em;
	  line-height: 1.5em;
	  color: #818078;
	  background-color: #fcfcfa;
	}
  }

.login-options {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}
  
.google {
	display: inline-block;
	width: 200px;
	height: 40px;
	background-color: white;
	border: solid 1px #d4d4d8;
	align-items: center;
	border-radius: 5px;
}

.google svg {
	height: 25px;
	position: relative;
	top: 3px;
	color: gray;
}

.container {
	padding: 0 15px;
}

.create-account {
	padding-top: 10px;
	text-align: center;
}

.create-account a {
	text-decoration: none;
	font-weight: 600;
}

.captcha {
	padding-top: 20px;
	font-size: 12px;
	font-weight: 400;
	color: gray;
}